<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Media Player | Saguaro Man</title>
	<link rel="stylesheet" media="all" href="/css/style.css">
	<!-- fake there is a favicon -->
	<link rel="icon" href="data:;base64,=">
</head>
<body>
	<div id="body-wrap">
		<div id="selection-wrap">
			<div id="title-wrap">
				<h1>Media Player</h1>
			</div>
			<div id="selection-btns-wrap">
				<ul>
					<li>
						<a id="selection-btn-expressions" class="btn" href="#">
							<img src="/img/expressions.gif"/>
						</a>
						<p>Expressions</p>
					</li>
					<li>
						<a id="selection-btn-puppet-people" class="btn" href="#">
							<img src="/img/puppet-people.gif"/>
						</a>
						<p>Puppet People</p>
					</li>
					<li>
						<a id="selection-btn-dusty-loops" class="btn" href="#">
							<img src="/img/dusty-loops.gif"/>
						</a>
						<p>Dusty Loops</p>
					</li>
				</ul>
			</div>
			<div id="info-btn-wrap">
				<p><a id="info-btn" class="btn" href="#"><i class="icon-info"></i>Info</a></p>
			</div>
		</div>
		<div id="info-wrap">
			<div id="info-title-wrap">
				<h1>Info</h1>
			</div>
			<div id="info-text-wrap">
				<h2>About</h2>
				<p>Lorem ipsum dolor sit amet</p>
				<h2>Expressions</h2>
				<p>Lorem ipsum dolor sit amet</p>
				<h2>Puppet People</h2>
				<p>Lorem ipsum dolor sit amet</p>
				<h2>Dusty Loops</h2>
				<p>Lorem ipsum dolor sit amet</p>
				<h2>Misc</h2>
				<p>Lorem ipsum dolor sit amet</p>
				<h2>Misc</h2>
				<p>Lorem ipsum dolor sit amet</p>
				<h2>Misc</h2>
				<p>Lorem ipsum dolor sit amet</p>
				<h2>Misc</h2>
				<p>Lorem ipsum dolor sit amet</p>
			</div>
			<div id="info-back-btn-wrap">
				<p><a id="info-back-btn" class="btn" href="#">Back</a></p>
			</div>
		</div>
		<div id="error-wrap">
			<div id="icon-error-wrap">
				<h1><i class="icon-error"></i></h1>
			</div>
			<div id="error-msg-wrap">
				<h2 id="error-msg"></h2>
			</div>
			<div id="reset-btn-wrap">
				<p><a id="reset-btn" class="btn" href="#">Reset</a></p>
			</div>
		</div>
	</div>
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/script.js"></script>
</body>
</html>