#finish-wrap{
	z-index:-1;
	.opacity(0);
	background-color:@green-dark;
	position:absolute;
	top:0;
	width:@display-width;
	height:@display-height;
	.transition(0.3s);
	&.visible{
		z-index:2000;
		.opacity(100);
	}
	#finish-title-wrap{
		@height:55px;
		height:@height;
		.clearfix();
		h1{
			line-height:@height;
			text-align:center;
			color:@white;
			font-size:30px;
		}
	}
	#finish-video-placeholder{
		position:absolute;
		width:@preview-width;
		height:@preview-height;
		top:(@display-height - @preview-height) / 2;;
		left:(@display-width - @preview-width) / 2;
		background-color:@black-dark;
	}
	#finish-done-btn-wrap{
		@height:55px;
		height:@height;
		position: absolute;
		bottom: 0;
		width: 100%;
		.clearfix();
		p{
			margin-top:10px;
			.basic-btn();
		}
	}
}