#page-error{
	text-align:center;
	background-color:@red-dark;
	.top{
		.clearfix();
		h1{
			height:160px;
			i{
				position:relative;
				top:20px;
				font-size:150px;
				color:@red;
			}
		}
	}
	.middle{
		.clearfix();
		h2{
			@height:280px;
			line-height:@height;
			height:@height;
			font-size:30px;
			color:@red-light;
		}
	}
	.bottom{
		@height:40px;
		height:@height;
		.clearfix();
		p{
			.home-button();
		}
	}
}