#page-home{
	.top{
		@height:40px;
		height:@height;
		.clearfix();
		h1{
			line-height:@height;
			text-align:center;
			color:@white;
			font-size:25px;
		}
	}
	.middle{
		.clearfix();
		height:400px;
		.btn-wrap{
			width:400px;
			float:left;
			&.consented{
				a{
					background-color:@green;
					.icon-wrap{
						i{
							color:@green-light;
						}
					}
					.text-wrap{
						i{
							color:@green-light;
						}
					}
				}
			}
			&.noconsent{
				a{
					background-color:@red;
					.icon-wrap{
						i{
							color:@red-light;
						}
					}
					.text-wrap{
						i{
							color:@red-light;
						}
					}
				}
			}
			a{
				&.btn{
					width:360px;
					height:360px;
					margin:20px auto;
					.rounded(15px);
				}
				.icon-wrap{
					text-align:center;
					height:220px;
					i{
						position:relative;
						top:-20px;
						font-size:300px;
					}
				}
				.text-wrap{
					@height:140px;
					height:@height;
					margin-left:-45px;
					p{
						line-height:@height;
						font-size:20px;
						i{
							position:relative;
							top:17px;
							margin-right:10px;
							font-size:50px;
						}
					}
				}
			}
		}
	}
	.bottom{
		@height:40px;
		height:@height;
		.clearfix();
		p{
			.home-button();
		}
	}
}