{% extends 'layout.twig' %}
{% block title %}Info{% endblock %}
{% set page = 'info' %}

{% block body %}
	<div class="top">
		<h1>Info</h1>
	</div>
	<div class="middle">
		<h2>About</h2>
		<p>Lorem ipsum dolor sit amet</p>
		<h2>Consent</h2>
		<p>Lorem ipsum dolor sit amet</p>
		<h2>No Consent</h2>
		<p>Lorem ipsum dolor sit amet</p>
	</div>
	<div class="bottom">
		<p><a class="btn" href="/">Home</p>
	</div>
{% endblock %}