#selection-wrap{
	z-index:1;
	background-color:@green-dark;
	position:absolute;
	top:0;
	width:@display-width;
	height:@display-height;
	#selection-btns-wrap{
		height:@display-height - 60px;
		width:@display-width;
		position:absolute;
		top:120px;
		left:0;
		ul{
			padding:5px;
			li{
				width:32.33%;
				height:140px;
				margin:.5%;
				float:left;
				a{
					display:block;
					height:140px;
					overflow:hidden;
					border:solid 7px @black;
					margin-bottom:10px;
					.rounded(25px);
					img{
						width:100%;
					}
					&.active{
						border-color:@blue-light;
					}
				}
				p{
					padding-top:10px;
					text-align:center;
					font-size:30px;
					color:@grey;
				}
			}
		}
	}
	#info-btn-wrap{
		.basic-btn();
		p{
			i{
				position:relative;
				top:3px;
				margin-right:5px;
			}
		}
	}
}